[submodule "SpriterDotNet"]
	path = SpriterDotNet
	url = https://github.com/loodakrawa/SpriterDotNet.git
[submodule "Assets/lib/spriter"]
	path = Assets/lib/spriter
	url = git@github.com:shadowmint/unity-spriter-core.git
[submodule "Assets/lib/utils"]
	path = Assets/lib/utils
	url = git@github.com:shadowmint/unity-packages.git
